* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
}
.all {
    display: flex;
    padding: 10px;
}
#areaCanv {
    background: linear-gradient(0deg, rgba(86,126,255,1) 0%, rgba(3,0,92,1) 100%);
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
}
